@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.pt-3-half {
    padding-top: 1.4rem;
}

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: lightgrey;
    overflow-y: scroll;
}

.card {
    background-color: rgb(251, 251, 251);
}

.navbar {
    background-color: rgb(237, 237, 237);
}

.cell-effort-driven {
    text-align: center;
}

.toggle {
    height: 9px;
    width: 9px;
    display: inline-block;
}

    .toggle.expandTree {
        background: url(../SlickGrid/images/expand.gif) no-repeat center center;
    }

    .toggle.collapseTree {
        background: url(../SlickGrid/images/collapse.gif) no-repeat center center;
    }

.text_info {
    color: purple;
    text-align: center;
    font-style: italic;
}

.table_rapport {
    text-align: center;
}

#myGrid .slick-viewport {
    overflow-y: scroll;
}

.filtre {
    padding-left: 100px;
    padding-right: 100px;
}

.filtre_tab {
    padding-left: 60px;
    padding-right: 60px;
}

#myGrid .slick-header-column {
    background: #939393 !important;
    height: 40px !important;
    text-align: center;
    line-height: 40px !important;
    color: #fff;
    font-weight: 600;
}

a, a:visited {
    color: #313938;
}

    a:hover, a:active {
        color: #131515;
        text-decoration: none;
    }

.nav-pills .onglet-tab .nav-link:not(.active) {
    background-color: white;
    color: black;
}

.nav-pills .onglet-tab .nav-link {
    background-color: lightgrey;
}

.onglet {
    margin-top: 10px;
}
